.box {
    width: 396px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 15%;
    right: 15%;
    border-radius: 10px;
}

.div-1>p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 12%;
    top: 35%;

}

.div-1>h1 {
    font-size: 65px;
    font-weight: 700;
    color: rgb(22, 96, 255);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 12%;
    top: 20%;
}

#b-1 {
    background-color: rgb(21, 95, 253);
    font-size: 25px;
    border: 2px solid black;
    padding: 1%;
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;

}

#b-1:hover {
    box-shadow: 2px 2px lightskyblue;
    cursor: pointer;
}
.a-1:hover{
    text-shadow: 1px 1px black;
}
.b-2:hover{
    box-shadow: 2px 2px lightskyblue;
    cursor: pointer;
}
.i-1:hover{
    background-color: snow;
      
}
.i-2{
     background-color: snow;
      
}
div>.i-1,
.i-2 {
    margin-left: 12%;
    margin-top: 5%;
    padding: 3%;
    border-radius: 15px;
    width: 70%;
}

div>.a-1 {
    position: absolute;
    left: 30%;
    top: 50%;
    font-size: larger;



    color: rgb(21, 95, 253);
}

.b-2 {
    background-color: rgb(95, 236, 95);
    font-size: 25px;
    border: 0%;
    padding: 1%;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    border-radius: 15px;
    

}
.d-3{
    width: 250px;
    height: 45px;
    color: grey;
}

