h1 {
    background-color: black;
    color: white;
    position: fixed;
    font-size: 55px;
    top: 0%;
    width: 1240px;
}

h2 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

.h-2 {
    visibility: hidden;
}


.para-1 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    visibility: hidden;
}

.para {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}




.whatsapp {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 185px;
    background-color: black;
    position: fixed;
}
.whatsapp:hover{
    border: 3px solid white;
    cursor: pointer;
}


.insta {
    border-radius: 50%;
    width: 80px;
    height: 50px;
    position: absolute;
    right: 95px;
    background-color: black;
    position: fixed;
}
.insta:hover{
    border: 3px solid white;
    cursor: pointer;
}

.message {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 45px;
    background-color: black;
    position: fixed;
}
.message:hover{
    border: 3px solid black;
    cursor: pointer;
}

.trolly {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 35px;
    background-color: black;
    position: fixed;
}
.trolly:hover{
    border: 3px solid white;
    cursor: pointer;
}


button {
    margin-left: 36%;
    background-color: rgba(64, 255, 47, 0.829);
    font-family: Arial, Helvetica, sans-serif;
    width: 260px;
    height: 50px;
    font-weight: 700;
    border: 3px solid black;font-size: 20px;

}
button:hover{
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;
}

.para-2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
a:hover{
color: blue;
font-size: 30px;
font-weight: 700;
}
a{
    text-decoration: none;
    font-size:25px ;
    color: black;
}