.h-1 ,.para-1{
  color: white;
  background-color: blue;
  text-align: center;
font-size: 24px; ;
}
  .h-2,.para-2{
 color: rgba(255, 255, 255, 0.397);
  background-color:black;
  text-align: center;
    font-size: 24px; ;
}
.h-3,.para-3{
 color: lightpink;
  background-color:rgba(228, 51, 118, 0.993);
  text-align: center;
    font-size: 24px; ;
}
 








